
{{!-- Citation for the following file: index.hbs -> handlebar for Customer page
Date: 5/22/2024
Copied from:
Starter code for 'Developing in Node.JS'.
Source URL: https://canvas.oregonstate.edu/courses/1958399/pages/exploration-developing-in-node-dot-js?module_item_id=24181856
--}}




{{!-- Just some plain text --}}
<h1>"The Best" Hot Sauce Raw Materials table</h1>
<h3><a href="/"> HOME PAGE</a></h3>
[ <a href="Products">Products</a> | <a href="Customers">Customers</a> | <a href="RawMaterials">Raw Materials</a> | <a href="recipe">Recipe</a> | <a href="PurchaseOrders">Purchase Orders</a> | <a href="SalesOrders">Sales Orders</a>]
{{!-- data from database  --}}

{{!-- Create customers table --}}
<table border="1" cellpadding="5"  id="customers-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the customer_id, , name, phone number and emauk, in order + delete button --}}
        {{#each data}}
        <tr data-value="{{this.customer_id}}">
            <td>{{this.customer_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.phone_number}}</td>
            <td>{{this.email}}</td>
            <td><button onclick="deleteCustomer({{this.customer_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>

</table>


<h2>Search Customers</h2>
<p>Search by name using the field below.</p>

<form id="search-customer-html" method='GET' action='/Customers'>
    <label for="input-name">Search: </label>
    <input type="text" name="name" id="input-name-html-search">
    
    <input type="submit">
</form>


{{!-- Form to add a record to Customer table using standard HTML forms --}}
<h2>Add a New Customer</h2>
<p>To add a new customer, please enter their information below and click `Submit`!</p>
<form id="add-customer-form" method="POST" action="/add-customer-form">
    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name">
    
    <label for="input-phone_number">Phone Number: </label>
    <input type="text" name="input-phone_number" id="input-phone_number">

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email">

    <input type="submit">
</form>
{{!-- form to update customer table using ajax --}}
<h2>Updating Customer Information</h2>
<p>To update a specific user's info, select an existing customer, make your changes, and 'submit'.</p>
<form id="update-customer-form-ajax">
    <label for="mySelect">Select Customer: </label>
    <select name="input-name" id="mySelect">
        <option value="test">Select a Customer</option>
        {{#each data}}
        <option value="{{this.customer_id}}">{{this.name}}</option>
        {{/each}}
    </select>
    {{!-- ID's must be different than INSERT --}}
    <label for="input-new-name">New Name: </label>
    <input type="text" name="input-new-name" id="input-new-name">
    <label for="update-phone_number">Phone Number: </label>
    <input type="text" name="update-phone_number" id="update-phone_number">
    <label for="update-email">Email: </label>
    <input type="text" name="update-email" id="update-email">
    <input type="submit" value="Update">
</form>

<script src="/js/delete_customer.js"></script>
<script src="/js/update_customer.js"></script>