
{{!-- Just some plain text --}}
<h1>"The Best" Hot Sauce Products page</h1>
<h3><a href="/"> HOME PAGE</a></h3>
[ <a href="Products">Products</a> | <a href="Customers">Customers</a> | <a href="RawMaterials">Raw Materials</a> | <a href="recipe">Recipe</a> | <a href="PurchaseOrders">Purchase Orders</a> | <a href="SalesOrders">Sales Orders</a>]
{{!-- data from database  --}}

{{!-- Create Prodcuts table --}}
<table border="1" cellpadding="5"  id="products-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the product_id, , flavor, price per bottle, in order + delete button --}}
        {{#each data}}
        <tr data-value="{{this.product_id}}">
            <td>{{this.product_id}}</td>
            <td>{{this.flavor}}</td>
            <td>{{this.price_per_bottle}}</td>
            <td><button onclick="deleteProduct({{this.product_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>

</table>


<h2>Search Products</h2>
<p>Search by flavor using the field below.</p>

<form id="search-flavor-html" method='GET' action='/Products'>
    <label for="input-flavor">Search: </label>
    <input type="text" name="flavor" id="input-flavor">
    
    <input type="submit">
</form>

{{!-- Form to add a record to Customer table using standard HTML forms --}}
<h2>Add a New Product</h2>
<p>To add Product, please enter the details below and click `Submit`!</p>
<form id="add-product-form" method="POST" action="/add-product-form">
    <label for="input-flavor">Flavor: </label>
    <input type="text" name="input-flavor" id="input-flavor">
    
    <label for="input-price-per-bottle">Price Per Bottle: </label>
    <input type="number" name="input-price-per-bottle" id="input-price-per-bottle">

    <input type="submit">
</form>

{{!-- form to update product table using ajax --}}
<h2>Updating Product Information</h2>
<p>To update a specific product's info, select an existing flavor, make your changes, and 'submit'.</p>
<form id="update-product-form-ajax">
    <label for="mySelect">Select Product: </label>
    <select name="update-product-name" id="mySelect">
        <option value="test">Select an ID and flavor</option>
        {{#each data}}
        <option value="{{this.product_id}}">{{this.product_id}} : {{this.flavor}}</option>
        {{/each}}
    </select>
    {{!-- ID's must be different than INSERT --}}
    <label for="update-flavor">New Flavor Name: </label>
    <input type="text" name="update-flavor" id="update-flavor">
    <label for="update-price-per-bottle">Price Per Bottle: </label>
    <input type="text" name="update-price-per-bottle" id="update-price-per-bottle">
    <input type="submit" value="Update">
</form>

<script src="/js/delete_product.js"></script>
<script src="/js/update_product.js"></script>