
{{!-- Just some plain text --}}
<h1>"The Best" Hot Sauce Purchase Orders page</h1>
<h3><a href="/"> HOME PAGE</a></h3>
[ <a href="Products">Products</a> | <a href="Customers">Customers</a> | <a href="RawMaterials">Raw Materials</a> | <a href="recipe">Recipe</a> | <a href="PurchaseOrders">Purchase Orders</a> | <a href="SalesOrders">Sales Orders</a>]
{{!-- data from database  --}}

{{!-- Create Prodcuts table --}}
<table border="1" cellpadding="5"  id="purchase-order-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the product_id, , flavor, price per bottle, in order + delete button --}}
        {{#each data}}
        <tr data-value="{{this.purchase_id}}">
            <td>{{this.purchase_id}}</td>
            <td>{{this.material_name}}</td>
            <td>{{this.total_cost}}</td>
            <td>{{this.order_oz}}</td>
            <td>{{this.date_received}}</td>
            <td><button onclick="deletePurchaseOrder({{this.purchase_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>

</table>


<h2>Add a New Purchase</h2>
<p>To add a new purchase, please enter the details below and click `Submit`!</p>
<form id="add-purchase-form-ajax" method="POST" action="/add-purchase-form">
    <label for="input-raw-material-id">Select Raw Material: </label>
    <select name="input-raw-material-id" id="input-raw-material-id-1" required>
        <option value="">Select a Raw Material</option>
        {{#each data}}
        <option value="{{this.raw_material_id}}" data-cost-per-oz="{{this.cost_per_oz}}">{{this.material_name}}</option>
        {{/each}}
    </select>

    <label for="input-order-oz">Order Oz: </label>
    <input type="number" name="input-order-oz" id="input-order-oz" required>
    
    <label for="input-date-received">Date Received: </label>
    <input type="date" name="input-date-received" id="input-date-received" required>

    <input type="submit">
</form>

<script src="/js/delete_purchase_order.js"></script>
