
{{!-- Just some plain text --}}
<h1>Purchase Orders</h1>
<h3><a href="/"> HOME PAGE</a></h3>
[ <a href="Products">Products</a> | <a href="Customers">Customers</a> | <a href="RawMaterials">Raw Materials</a> | <a href="recipe">Recipe</a> | <a href="PurchaseOrders">Purchase Orders</a> | <a href="SalesOrders">Sales Orders</a>]
{{!-- data from database  --}}

{{!-- Create PO table --}}
<table border="1" cellpadding="5"  id="purchase_orders-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Purchase ID</th>
            <th>Raw Material Name</th>
            <th>Total Cost</th>
            <th>Order Oz </th>
            <th>Date Received</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the purchase_id, material_name, total_cost, date_received in order + delete button --}}
        {{#each data}}
        <tr data-value="{{this.purchase_id}}">
            <td>{{this.purchase_id}}</td>
            <td>{{this.material_name}}</td>
            <td>${{this.total_cost}}</td>
            <td>{{this.order_oz}}</td>
            <td>{{this.date_received}}</td>
        </tr>
        {{/each}}
    </tbody>

</table>

<h2>Search a purchase order...</h2>
<p>Search by ingredient using the field below.</p>

<form id="search-raw_material-html" method='GET' action='/PurchaseOrders'>
    <label for="input-raw_material_name">Search: </label>
    <input type="text" name="raw_material_name" id="input-raw_material_name">
    
    <input type="submit">
</form>

{{!-- Form to add a record to PurchaseOrder table using standard HTML forms --}}
<h2>Add a purchase order...</h2>
<p>Input the requisiton and the date it was received.</p>
<form id="add-purchase-form" method="POST" action="/add-purchase-form">

    <label for="selectMaterial">Ingredient: </label>
    <select name="selectMaterial" id="selectMaterial">
        <option value="">Select an existing ingredient:</option>
        {{#each ingredients}}
        <option value="{{this.material_name}}">{{this.material_name}}</option>
        {{/each}}
    </select>
    
    <label for="input-order-oz">Order Oz: </label>
    <input type="number" name="input-order-oz" id="input-order-oz">

    <label for="input-date-received">Date received: </label>
    <input type="date" name="input-date-received" id="input-date-received">

    <input type="submit">
</form>

{{!-- form to update PurchaseOrder table using ajax --}}
<h2>Edit purchase order...</h2>
<p><strong>NOTE: This is only for administrative purposes, this will NOT increase or decrease raw material inventory levels.</strong></p>
<form id="update-po-form-ajax">
    <label for="mySelect">Select Purchase Order: </label>
    <select name="update_po_id" id="mySelect">
        <option value="test">Select</option>
        {{#each data}}
        <option value="{{this.purchase_id}}">{{this.purchase_id}}</option>
        {{/each}}
    </select>
    {{!-- ID's must be different than INSERT --}}
    <label for="input-new-name">Change ingredient name: </label>
    <input type="text" name="input-new-name" id="input-new-name" required>
    <label for="update-quantity">New quantity in oz: </label>
    <input type="number" name="update-quantity" id="update-quantity" min="0" required>
    <label for="update-date">Change date received: </label>
    <input type="text" name="update-date" id="update-date">
    <input type="submit" value="Update">
</form>

<script src="/js/delete_purchase_order.js"></script>
<script src="/js/update_purchase_order.js"></script>
