
{{!-- Just some plain text --}}
<h1>"The Best" Hot Sauce Raw Materials page</h1>
<h3><a href="/"> HOME PAGE</a></h3>
[ <a href="Products">Products</a> | <a href="Customers">Customers</a> | <a href="RawMaterials">Raw Materials</a> | <a href="recipe">Recipe</a> | <a href="PurchaseOrders">Purchase Orders</a> | <a href="SalesOrders">Sales Orders</a>]
{{!-- data from database  --}}

{{!-- Create raw materials table --}}
<table border="1" cellpadding="5"  id="raw-material-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the raw_material_id, , name, cost per oz and quantity, in order + delete button --}}
        {{#each data}}
        <tr data-value="{{this.raw_material_id}}">
            <td>{{this.raw_material_id}}</td>
            <td>{{this.material_name}}</td>
            <td>{{this.cost_per_oz}}</td>
            <td>{{this.quantity_oz}}</td>
            <td><button onclick="deleteRawMaterial({{this.raw_material_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>

</table>


<h2>Search raw_material</h2>
<p>Search by name using the field below.</p>

<form id="search-raw_material-html" method='GET' action='/RawMaterials'>
    <label for="input-material_name">Search: </label>
    <input type="text" name="material_name" id="input_material_name">
    
    <input type="submit">
</form>

{{!-- Form to add a record to raw material table using standard HTML forms --}}
<h2>Add a New Raw Material</h2>
<p>To add Raw Material, please enter the details below and click `Submit`!</p>
<form id="add-raw_material-form" method="POST" action="/add-raw_material-form">
    <label for="input-material_name">Name: </label>
    <input type="text" name="input-material_name" id="input-material_name">
    
    <label for="input-cost_per_oz">Cost Per Oz: </label>
    <input type="number" name="input-cost_per_oz" id="input-cost_per_oz">

    <label for="input-quantity_oz">Quantity oz: </label>
    <input type="number" name="input-quantity_oz" id="input-quantity_oz">

    <input type="submit">
</form>

{{!-- form to update product table using ajax --}}
<h2>Updating Raw Material Information</h2>
<p>To update a specific Materials's info, select an existing material, make your changes, and 'submit'.</p>
<form id="update-material-form-ajax">
    <label for="mySelect">Select Raw Material: </label>
    <select name="update-material-name" id="mySelect">
        <option value="test">Select an ID and the material name</option>
        {{#each data}}
        <option value="{{this.raw_material_id}}">{{this.raw_material_id}} : {{this.material_name}}</option>
        {{/each}}
    </select>
    {{!-- ID's must be different than INSERT --}}
    <label for="update-material-name">New Material Name: </label>
    <input type="text" name="update-material-namer" id="update-material-name">
    <label for="update-cost-per-oz">Cost Per Oz: </label>
    <input type="text" name="update-cost-per-oz" id="update-cost-per-oz">
    <label for="update-quantity-oz">Quantity Oz: </label>
    <input type="text" name="update-quantity-oz" id="update-quantity-oz">
    <input type="submit" value="Update">
</form>

<script src="/js/delete_raw_material.js"></script>
<script src="/js/update_raw_material.js"></script>