
{{!-- Just some plain text --}}
<h1>Raw Materials</h1>
<h3><a href="/"> HOME PAGE</a></h3>
[ <a href="Products">Products</a> | <a href="Customers">Customers</a> | <a href="RawMaterials">Raw Materials</a> | <a href="recipe">Recipe</a> | <a href="PurchaseOrders">Purchase Orders</a> | <a href="SalesOrders">Sales Orders</a>]
{{!-- data from database  --}}

{{!-- Create raw materials table --}}
<table border="1" cellpadding="5"  id="raw-material-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Raw Material ID</th>
            <th>Raw Material Name</th>
            <th>Cost Per Oz</th>
            <th>Quantity Oz</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the raw_material_id, , name, cost per oz and quantity, in order + delete button --}}
        {{#each data}}
        <tr data-value="{{this.raw_material_id}}">
            <td>{{this.raw_material_id}}</td>
            <td>{{this.material_name}}</td>
            <td>${{this.cost_per_oz}}</td>
            <td>{{this.quantity_oz}}</td>
        </tr>
        {{/each}}
    </tbody>

</table>


<h2>Search Ingredients</h2>
<p>Search by name using the field below.</p>

<form id="search-raw_material-html" method='GET' action='/RawMaterials'>
    <label for="input-material_name">Search: </label>
    <input type="text" name="material_name" id="input_material_name">
    
    <input type="submit">
</form>

{{!-- Form to add a record to raw material table using standard HTML forms --}}
<h2>Add a New Ingredient</h2>
<p>To add Raw Material, please enter the details below </p>
<form id="add-raw-material-form" method="POST" action="/add-raw-material-form">
    <label for="input-raw-material-name">Name: </label>
    <input type="text" name="input-raw-material-name" id="input-raw-material-name" required>
    
    <label for="input-cost-per-oz">Cost Per Oz: </label>
    <input type="number" name="input-cost-per-oz" id="input-cost-per-oz" min="0" step=".01" required>

    <input type="submit">
</form>

{{!-- form to update rawmaterial table using ajax --}}
<h2>Edit Ingredient</h2>
<p>Edit an ingredients price, name or inventory level</p>
<form id="update-raw-material-form-ajax">
    <label for="mySelect">Select Ingredient: </label>
    <select name="input-raw-material-name" id="mySelect">
        <option value="test">Select</option>
        {{#each data}}
        <option value="{{this.raw_material_id}}">{{this.material_name}}</option>
        {{/each}}
    </select>
    {{!-- ID's must be different than INSERT --}}
    <label for="input-new-name">New name: </label>
    <input type="text" name="input-new-name" id="input-new-name" required>
    <label for="update-phone_number">New cost per oz: </label>
    <input type="text" name="update-cost" id="update-cost" required>
    <label for="update-email">New inventory in ounces: </label>
    <input type="text" name="update-quantity" id="update-quantity" required>
    <input type="submit" value="Update">
</form>

<script src="/js/delete_raw_material.js"></script>
<script src="/js/update_raw_material.js"></script>
