
{{!-- Just some plain text --}}
<h1>Recipes</h1>
<h3><a href="/"> HOME PAGE</a></h3>
[ <a href="Products">Products</a> | <a href="Customers">Customers</a> | <a href="RawMaterials">Raw Materials</a> | <a href="recipe">Recipe</a> | <a href="PurchaseOrders">Purchase Orders</a> | <a href="SalesOrders">Sales Orders</a>]
{{!-- data from database  --}}

{{!-- Create Recipe table --}}
<table border="1" cellpadding="5"  id="recipe-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the flavor(FK Products), the material_name(FK RawMaterials), and the required_oz --}}
        {{#each data}}
        <tr data-value="{{this.product_id}}">
            <td>{{this.flavor}}</td>
            <td>{{this.material_name}}</td>
            <td>{{this.required_oz}}</td>
            <td><button onclick="deleteRecipe({{this.product_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>

</table>
<script src="./js/delete_raw_material.js"></script>


<h2>Search for a flavor</h2>
<p>Search by flavor using the field below.</p>
<form id="search-flavor-html" method='GET' action='/recipe'>
    <label for="input-flavor">Search: </label>
    <input type="text" name="flavor" id="input-flavor">
    
    <input type="submit">
</form>
</form>

{{!-- Form to add a record to Recipe table using standard HTML forms --}}
<h2>Add Recipe</h2>
<p>Select an existing product(flavor) and the quantities of two ingredients that will be used to manufacture it.</p>
<p style="color:red"> Note: The product cannot already have a recipe assigned. To change a recipe, use the Update Recipe form below. </p>
<form id="add-recipe-form" method="POST" action="/add-recipe-form">

    <label for="selectProduct">Product: </label>
    <select name="selectProduct" id="selectProduct">
        <option value="">Select an existing product</option>
        {{#each flavors}}
        <option value="{{this.flavor}}">{{this.product_id}}: {{this.flavor}}</option>
        {{/each}}
    </select>

    
    <label for="selectMaterial1">Ingredient 1: </label>
    <select name="selectMaterial1" id="selectMaterial1">
        <option value="">Select an existing ingredient:</option>
        {{#each ingredients}}
        <option value="{{this.material_name}}">{{this.raw_material_id}}: {{this.material_name}}</option>
        {{/each}}
    </select>
    <label for="selectOz1">Required Oz: </label>
    <input type="number" name="selectOz1" id="selectOz1" min="0" step="1" required>


    <label for="selectMaterial2">Ingredient 2: </label>
    <select name="selectMaterial2" id="selectMaterial2">
        <option value="">Select an existing ingredient</option>
        {{#each ingredients}}
        <option value="{{this.material_name}}">{{this.raw_material_id}}: {{this.material_name}}</option>
        {{/each}}
    </select>
    <label for="selectOz1">Required Oz: </label>
    <input type="number" name="selectOz2" id="selectOz2" min="0" step="1" required>


    <input type="submit">
</form>

<h2>Update Recipe</h2>
<form id="update-recipe-form-ajax">
    <label for="mySelect">Select Flavor and Material Name to Change: </label>
    <select name="update_recipe" id="mySelect">
        <option value="test">Select</option>
        {{#each data}}
        <option value="{{this.sale_id}}">{{this.flavor}}: {{this.material_name}}</option>
        {{/each}}
    </select>

    <label for="selectFlavor">Select Flavor: </label>
    <select name="selectFlavor" id="selectFlavor">
        <option value="">Select a Flavor</option>
        {{#each data}}
        <option value="{{this.flavor}}">{{this.flavor}}</option>
        {{/each}}
    </select>
    
    <label for="selectMaterial">Select Material: </label>
    <select name="selectMaterial" id="selectMaterial">
        <option value="">Select a Material</option>
        {{#each data}}
        <option value="{{this.material_name}}">{{this.material_name}}</option>
        {{/each}}
    </select>

    <label for="update-oz">Required Oz: </label>
    <input type="number" name="update-oz" id="update-oz">

    <input type="submit" value="Update">
</form>



<script src="/js/update_recipe.js"></script>
