
{{!-- Just some plain text --}}
<h1>"The Best" Hot Sauce Sales Orders page</h1>
<h3><a href="/"> HOME PAGE</a></h3>
[ <a href="Products">Products</a> | <a href="Customers">Customers</a> | <a href="RawMaterials">Raw Materials</a> | <a href="recipe">Recipe</a> | <a href="PurchaseOrders">Purchase Orders</a> | <a href="SalesOrders">Sales Orders</a>]
{{!-- data from database  --}}

{{!-- Create Prodcuts table --}}
<table border="1" cellpadding="5"  id="Sales-order-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the product_id, , flavor, price per bottle, in order + delete button --}}
        {{#each data}}
        <tr data-value="{{this.sale_id}}">
            <td>{{this.sale_id}}</td>
            <td>{{this.flavor}}</td>
            <td>{{this.name}}</td>
            <td>{{this.bottle_quantity}}</td>
            <td>{{this.date_shipped}}</td>
            <td>{{this.total_sale}}</td>
            <td>{{this.total_cost}}</td>
            <td><button onclick="deleteSalesOrder({{this.sale_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>

</table>


<h2>Search for a transaction</h2>
<p>Search by flavor using the field below.</p>
<form id="search-flavor-html" method='GET' action='/SalesOrders'>
    <label for="input-flavor">Search: </label>
    <input type="text" name="flavor" id="input-flavor">
    
    <input type="submit">
</form>
</form>

<h2>Add a New Transaction</h2>
<p>To add a new sale, please enter the details below and click `Submit`!</p>
<form id="add-sale-form" method="POST" action="/add-sale-form">
    <label for="selectFlavor">Select Flavor: </label>
    <select name="selectFlavor" id="selectFlavor">
        <option value="">Select a Flavor</option>
        {{#each flavors}}
        <option value="{{this.flavor}}">{{this.product_id}}: {{this.flavor}}</option>
        {{/each}}
    </select>
    
    <label for="selectCustomer">Select Customer: </label>
    <select name="selectCustomer" id="selectCustomer">
        <option value="">Select a Customer</option>
        {{#each customers}}
        <option value="{{this.name}}">{{this.customer_id}}: {{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-bottle-quantity">Bottle Quantity: </label>
    <input type="number" name="input-bottle-quantity" id="input-bottle-quantity">
    
    <label for="input-date-shipped">Date Shipped: </label>
    <input type="date" name="input-date-shipped" id="input-date-shipped">

    <input type="submit" value="Submit">
</form>



<h2>Edit Sale Order</h2>
<p>Update</p>
<form id="update-sale-form-ajax">
    <label for="mySelect">Select Flavor: </label>
    <select name="update_sale_id" id="mySelect">
        <option value="test">Select</option>
        {{#each data}}
        <option value="{{this.sale_id}}">{{this.sale_id}} : {{this.flavor}}</option>
        {{/each}}
    </select>

    <label for="input-new-flavor">New Flavor name: </label>
    <input type="text" name="input-new-flavor" id="input-new-flavor">
   
    <label for="update-customer-name">Cusomter name:  </label>
    <input type="Text" name="update-customer-name" id="update-customer-name" min="0">

    <label for="update-bottles">Bottles Quantity: </label>
    <input type="Number" name="update-bottles" id="update-bottles">

    <label for="update-date">Change date shipped: </label>
    <input type="Date" name="update-date" id="update-date">

    <input type="submit" value="Update">
</form>

<script src="/js/delete_sales_order.js"></script>
<script src="/js/update_sales_order.js"></script>
